.icon{
    transition: background-color .3s;
    border-radius: 5px;
    cursor: pointer;
}

.icon:hover{
    background-color: lightgrey;
}

.icon_active_mode{
    background-color: grey;
}


.icon:active{
    background-color: grey
}