.element{
    outline: none;
    border: none;
    width: 2rem;
    transition: background-color .3s;
    border-radius: 5px;
}

.element_prerest{
    background-color: rgb(173, 212, 247);
}

.element:focus{
    background-color: rgb(237, 234, 234);
}