.shift_container {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(33, 33, 33, .2);
}

.empty_shift {
    text-align: center;
    padding: 5rem;
    border-radius: 0.5rem;
    margin-top: 25%;
}

.heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.text {
    color: grey;
    font-size: 1.5rem;
}