.form{
    padding-left: 0.5rem;
    /* height: 100%; */
}

.section{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(33,33,33,.2);
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.rows{
    margin-top: .5rem;
}

.divider{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* .models{ */
/*  */
/* } */