.tagBox {
    width: 100%;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.boxWrapper {
    margin-top: .5rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    height: 10rem;
    padding: .5rem;
    overflow-y: scroll;
}