# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.env

# Virtual environments
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Project-specific
settings.ini
database.sqlite3

# Miscellaneous
*.swp
*.bak
*.log
*.cache
*.csv
*.json

# Ignore specific files
filename.txt
config.yml
dau_gateway/*.json
